@charset "utf-8";
* {margin: 0; padding: 0; border: 0 none; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;} 
html {-webkit-touch-callout:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); overflow-x: hidden; overflow-y: auto;}
body, html {font-family: MalgunGothic, '맑은 고딕','돋움', Dotum, AppleGothic, Sans-serif, Arial; -webkit-text-size-adjust:none;} 
ul, ol, li, menu {list-style: none;} 
em, address {font-style: normal;} 
i, em, address{font-style:normal;font-weight:normal;}
img {border: 0 none; font-size: 0; line-height: 0; max-width: 100%;} 
sup {position: relative; top: 2px; font-size: 11px; line-height: 100%;}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
table {border-collapse: collapse; border-spacing:0; } 
caption,legend {visibility:hidden;position:absolute;left:-9999em;width:1px;height:1px;margin:0;padding:0;background:none;font-size:0;line-height:0;text-indent:-9999em;} 
th, td {vertical-align: middle; word-wrap: break-word;}  
a {color: #515151; text-decoration: none;} 
a:focus {outline: none;}
textarea:focus {outline: none;} 
button {border:0 none; background-color:transparent; cursor:pointer; padding: 0;}
button:focus {outline: none;} 
button, select, fieldset{border:none;outline-width:0;cursor:pointer}
input ,select{border:none;outline-width:0;padding:0; border:1px solid #ddd; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: 0;}
input:focus {outline: none;}
input,select,textarea,button {font-size:100%; vertical-align:middle;}
input[type="text"]{cursor: text;}
select::-ms-expand{display:none; /* arrow none IE10, 11*/-webkit-appearance: listbox;/*gallexy*/}
input[type="button"]{border:0;padding:0;cursor: pointer;}
.blind {position: absolute; overflow: hidden; clip:rect(0 0 0 0); margin: -1px; width: 1px; height: 1px;}
.clearfix:after{display:block; content:""; clear:both;}
pre {word-wrap: break-word; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-all;}

/* skip navi*/
#skipNavi{margin:0}
#skipNavi a{position:absolute;left:-3000%}
#skipNavi a:focus{display:block;left:0;top:0;z-index:10000000000;width:100%;height:30px;line-height:30px;background:#555;color:#fff;text-align:center}

/* drag color*/
::selection {background:#275BA8;color:#fff;text-shadow: none;}
::-moz-selection {background:#275BA8;color:#fff;text-shadow: none;}
::-webkit-selection {background:#275BA8;color:#fff;text-shadow: none;}
/* Reset end */