@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
html, body {font-family: 'Nanum Gothic', sans-serif; font-size: 16px; color: #333; line-height: 1.5; letter-spacing: -.05rem;}
#wrap {position: relative; min-height: 100vh;}
.pd-yes {padding: 1rem;}
.container {position: relative;}
.bg-gray {position: relative; background-color: #f4f4f4;}
h2 em.color-u2 {color:#20b2aa; font-weight: bold;}
h2 em.color-u3 {color:#246076; font-weight: bold;}
h2 em.color-u4 {columns: #244276;; font-weight: bold;}
.input-box {position: relative; margin-bottom: 12px;}
.input-box.lg input {width: 100%; height: 52px; border-radius: .25rem; background-color: #fff; border: none; padding:0 1rem;}
.input-box.sm input {width: 100%; height: 44px; border-radius: .25rem; background-color: #fff; border: none; padding:0 1rem;}
.input-box.sm select {width: 100%; height: 44px; border-radius: .25rem; background-color: #fff; border: none; padding:0 1rem;}
input::placeholder {color: rgba(28,32,22,0.5); font-size: 16px;}
.input-box.select:after {content:''; position: absolute; bottom:1rem; right: 1rem; width: .75rem; height: .75rem; border:1px solid; border-bottom: 0; border-left: 0; border-radius: 1px; transform: rotate(135deg);}
.input-box label {display: inline-block; color: #333; font-size: .875rem; margin-bottom: .5rem; width: 100%; padding-left: .25rem;}
.input-box .btn-input-inn {position: absolute; bottom: 0; right: 0; width: 80px; height: 44px; background-color: #13936f; color: #fff; font-size: .75rem; color: #fff; font-weight: normal; border-radius: .25rem;}
.input-box .point {color: #931439; font-weight:bold;}
.choice.gender {position: relative; overflow: hidden; margin-left: -1rem;}
.choice.gender li {float: left; padding-left: 1rem; width: 33.3333%;}
.choice.gender li a {background-color: #fff; display: block; padding:.75rem 0; text-align:center; border-radius: .25rem; font-size: 1rem; color: #246076; font-weight: normal;}
.choice.gender li.on a {background-color: #13936f; color:#fff; font-weight: bold;}

/* 유성연 회원가입 퍼블리싱 변경 (남자,여자 input박스로 변경) START */
.radio-group__label {display: table-cell;height: 30px;padding: 5px;vertical-align: middle;text-align: center;position: relative;background-color: #fff;color: #4F5167;cursor: pointer;}
.radio-group__label + input + .radio-group__label {border-radius: 0 5px 5px 0;border-style: solid solid solid none;}
.radio-group__label + input + .radio-group__label:before {width: 100%;height: 100%;border: 1px solid #fff;}
.radio-group__label + input:checked + .radio-group__label:before {border-radius: 0 5px 5px 0;transform: translate3d(-6px, 0, 0);}
.radio-group__option:checked + label {background-color: #13936f;color: #fff;}
.radio-group__option {display: none;}
/* 유성연 회원가입 퍼블리싱 변경 (남자,여자 input박스로 변경)  END*/

/* 유성연 거점소독시설 사용자 mypage 컬러 변경. (남자,여자 input박스로 변경) START */
.radio-dsf__label {display: table-cell;height: 30px;padding: 5px;vertical-align: middle;text-align: center;position: relative;background-color: #fff;color: #4F5167;cursor: pointer;}
.radio-dsf__label + input + .radio-dsf__label {border-radius: 0 5px 5px 0;border-style: solid solid solid none;}
.radio-dsf__label + input + .radio-dsf__label:before {width: 100%;height: 100%;border: 1px solid #fff;}
.radio-dsf__label + input:checked + .radio-dsf__label:before {border-radius: 0 5px 5px 0;transform: translate3d(-6px, 0, 0);}
.radio-dsf__option:checked + label {background-color: #20b2aa;color: #fff;}
.radio-dsf__option {display: none;}
.btn-dsf-inn {position: absolute; bottom: 0; right: 0; width: 80px; height: 44px; background-color: #20b2aa; color: #fff; font-size: .75rem; color: #fff; font-weight: normal; border-radius: .25rem;}
/* 유성연 거점소독시설 사용자 mypage 컬러 변경.  END*/

/* 유성연 시설사용자  mypage 컬러 변경. (남자,여자 input박스로 변경) START */
.radio-stf__label {display: table-cell;height: 30px;padding: 5px;vertical-align: middle;text-align: center;position: relative;background-color: #fff;color: #4F5167;cursor: pointer;}
.radio-stf__label + input + .radio-stf__label {border-radius: 0 5px 5px 0;border-style: solid solid solid none;}
.radio-stf__label + input + .radio-stf__label:before {width: 100%;height: 100%;border: 1px solid #fff;}
.radio-stf__label + input:checked + .radio-stf__label:before {border-radius: 0 5px 5px 0;transform: translate3d(-6px, 0, 0);}
.radio-stf__option:checked + label {background-color: #246076; color: #fff;}
.radio-stf__option {display: none;}
.btn-stf-inn {position: absolute; bottom: 0; right: 0; width: 80px; height: 44px; background-color: #246076; color: #fff; font-size: .75rem; color: #fff; font-weight: normal; border-radius: .25rem;}
/* 유성연 회원가입 퍼블리싱 변경 (남자,여자 input박스로 변경)  END*/


.car-info {position: relative; overflow: hidden; margin-left: -1rem; padding-top: .25rem;}
.car-info li {position: relative; float: left; width: 3rem; height:3rem; margin-left: 1rem;}
.car-info li a {position: relative; display: block; background-color: #fff; border-radius: .25rem; display: block; width: 100%; height: 100%; line-height: 3rem; text-align: center;}
.car-info li a img {width: 18px; vertical-align: middle;}
.tit-row {font-size: 1rem; color: #1C2016; font-weight: bolder; padding: .5rem 0;} 
.agree-box {position: relative;}
.agree-box .tit {color: #333; font-size: .875rem; margin-bottom: .5rem; width: 100%; padding-left: .25rem;}
.agree-box .container.checkbox.all {position: absolute; top:0rem; right:0rem;}
.agree-box ul li {position: relative; background-color: #fff; padding:.75rem 1rem; border-bottom: 1px solid #e5e5e5;}
.agree-box ul li label {position: relative;}
.agree-box ul li .agree-top {position: relative; padding-bottom: .5rem;}
.agree-box ul li .agree-top:after {content:''; position: absolute; bottom:1rem; right: 1rem; width: .75rem; height: .75rem; border:1px solid; border-bottom: 0; border-left: 0; border-radius: 1px; transform: rotate(135deg);}
.agree-box ul li .agree-top.on label:after {content:''; position: absolute; bottom:1.5rem; right: 1rem; width: .75rem; height: .75rem; border:1px solid; border-bottom: 0; border-left: 0; border-radius: 1px; transform: rotate(-45deg);}
.agree-box ul li .agree-top label .checkmark {top:-15px;}
.agree-box .agree-inner {display: none; background-color: #fff; padding:1rem; color: #1C2016; font-weight: normal; font-size: .75rem; border-top: 1px solid #e5e5e5; margin-top: .5rem;}
/* checkbox */
.container.checkbox {display: inline-block;position: relative; padding-left: 28px; margin-right:16px; cursor: pointer; font-size: 14px; color: #333; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.container.checkbox input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
.container.checkbox .checkmark { position: absolute; top: 1px; left: 0; height: 20px; width: 20px; background-color: #e5e5e5; border-radius: 4px;}
.container.checkbox:hover input ~ .checkmark { background-color: #e5e5e5; }
.container.checkbox input:checked ~ .checkmark { background-color: #13936f; }
.container.checkbox .checkmark:after { content: ""; position: absolute; display: none; }
.container.checkbox input:checked ~ .checkmark:after { display: block; }
.container.checkbox .checkmark:after {top: 3px; left: 7px; width: 3px; height: 8px;  border: solid #fff; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
/* radio */
.container.radio {display: inline-block;position: relative;padding-left: 24px; cursor: pointer; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.container.radio input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
.container.radio .checkmark { position: absolute; top: 1px; left: 0; height: 18px; width: 18px; background-color: #fff; border:1px solid #e5e5e5; border-radius: 50%; }
.container.radio:hover input ~ .checkmark { background-color: #ccc; }
.container.radio input:checked ~ .checkmark { background-color: #ff0a0a; border:1px solid #ff0a0a; }
.container.radio .checkmark:after { content: ""; position: absolute; display: none; }
.container.radio input:checked ~ .checkmark:after { display: block; }
.container.radio .checkmark:after {top: 3px; left: 3px; width: 10px; height: 10px; border-radius: 50%; background: white;}
textarea {border: 1px solid #ddd; padding: 10px; width: 100%;}
/* login */
.title.login {position: relative; text-align: center; font-size: 1.5rem; color: #13936f; font-weight:bold; margin-top: 120px;}
form.login {position: relative; width: 100%; margin-top: 32px;}
.btn-wrap {position: relative; margin-top: 32px;}
.btn-wrap.double {overflow: hidden;}
.btn-wrap.one .btn {width: 100%;}
/* 유성연 CSS버튼 .btn-wrap.double .btn:nth-of-type(1) {width: 39.5%; margin-right: 3%; float: left;}
.btn-wrap.double .btn:nth-of-type(2) {width: 57.5%; float:right;} width 폭 수정. */
.btn-wrap.double .btn:nth-of-type(1) {width: 48%; float: left;}
.btn-wrap.double .btn:nth-of-type(2) {width: 48%; float:right;}
.btn {border-radius: .25rem; display: inline-block;}
.bg-green {background-color: #13936f; color: #fff; font-weight: bold;}
.bg-mint {background-color: #20b2aa; color: #fff; font-weight: bold;}
.bg-blue {background-color: #246076; color: #fff; font-weight: bold;}
.bg-darkblue {background-color: #244276; color: #fff; font-weight: bold;}
.bg-gray {background-color: #f5f5f5; color: #3c3c3c; font-weight: bold;}
.btn.lg {height: 52px; font-size: 1.25rem;}
.btn.md {height: 40px; font-size: .875rem;}
.border-green {border:1px solid #13936f; color: #13936f; border-radius: .25rem;}
.border-mint {border:1px solid #20b2aa; color: #20b2aa; border-radius: .25rem;}
.border-darkblue {border:1px solid #244276; color: #244276; border-radius: .25rem;}
/* 유성연 회원가입 차량 삭제 Button CSS 추가 */
.bg-red {background-color: #dc143c; color: #fff; font-weight: bold;}
/* header */
header {position:relative;}
.title-box {position: relative; height: 56px; text-align: center;}
.title-box h1{color: #fff; font-size: 1.375rem; font-weight: bold; line-height: 56px;}
header.user1 {background-color: #13936f;}
header.user2 {background-color: #20b2aa;}
header.user3 {background-color: #246076;}
header.user4 {background-color: #244276;}
.input-box.search {position: relative; padding: 0 1rem; margin-bottom: 0; height: 56px;}
.input-box.search input {position: relative; background-color: #fff; width: 100%; height: 44px; border-radius: .25rem;}
.input-box.search .btn-search {position: absolute; top:0; right:1rem; width:44px; height:44px; text-align: center;}
.input-box.search .btn-search img {width: 20px;}
.btn-back {position: absolute; top:0; left:1rem; width:54px; height: 54px;} 
.btn-back img {width: 10px; vertical-align: middle;}
/* list card */
.user1 .list-card>li:after {content: ''; position: absolute; top:16px; left: 0; width: .5rem; height: 2rem; background-color: #13936f;} 
.user2 .list-card>li:after {content: ''; position: absolute; top:16px; left: 0; width: .5rem; height: 2rem; background-color: #20b2aa;} 
.user3 .list-card>li:after {content: ''; position: absolute; top:22px; left: 0; width: .5rem; height: 2rem; background-color: #246076;} 
.user3 .list-card>li:after {content: ''; position: absolute; top:22px; left: 0; width: .5rem; height: 2rem; background-color: #244276;} 
.list-wrap {position: relative; padding: 1rem;}
.list-wrap h2 {margin-top: 1.5rem; font-size: 1rem; font-weight: bold; color: #3c3c3c;}
.list-wrap h2:first-child {margin-top: .75rem;}
.list-box {position: relative; margin-top: .5rem;}
.list-card  {position: relative;}
.list-card>li {position: relative; border-radius: .5rem; background-color: #fff; padding: 1rem; box-shadow: 6px 6px 10px 0 rgba(226, 226, 226, 0.2); margin-bottom: 1rem;}
.list-card .tit {color: #202224; font-size: 1.25rem; font-weight: bold;}
.list-card .date {color: #696969; font-size: 1rem; font-weight: bold;}
.list-card .top-box {position: relative; overflow: hidden;}
.list-card .top-box .tit {float:left; width:60%; text-align:left;}
.list-card .top-box .date {float:right; width:40%; text-align: right;}
.list-card .txt {position: relative; font-size: .75rem; color: #696969; font-weight: bold; margin-top: 1rem;}
.list-card .btn-heart {position: absolute; top:1rem; right: 1rem; width:2rem; height:2rem; text-align: center; line-height: 2rem;}
.list-card .btn-heart img {width: 22px;}
.list-card .bottom-box {position: relative; padding-top: 1rem; border-top: 1px solid #ebebeb; margin-top:1rem;}
.list-card .bottom-box ul>li {position: relative; overflow: hidden; margin-top: .25rem;}
.list-card .bottom-box ul>li:first-child {margin-top: 0;}
.list-card .bottom-box ul>li .left-tt {position: relative; float: left; width: 50%; color: #696969; font-size: .75rem; text-align: left;}
.list-card .bottom-box ul>li .right-tt {position: relative; float: left; width: 50%; color: #696969; font-size: .75rem; text-align: right;}
.user3 .list-card .top-box {padding:.5rem 0;}
.user4 .list-card .top-box {padding:.5rem 0;}
.btn-clean {position: absolute; top:-.25rem; right:0; width:88px;}
/* search page */
.input-box.search-page {position: relative; padding: 0 1rem; height: 56px; margin: 2rem 0;}
.input-box.search-page input {position: relative; background-color: #fff; width: 100%; height: 44px; border-radius: .25rem;}
.input-box.search-page input.user1 { border:1px solid #13936f;}
.input-box.search-page input.user2 { border:1px solid #20b2aa;}
.input-box.search-page input.user3 { border:1px solid #246076;}
.input-box.search-page input.user4 { border:1px solid #244276;}
.input-box.search-page .btn-search {position: absolute; top:0; right:1rem; width:44px; height:44px; text-align: center;}
.input-box.search-page .btn-search img {width:20px;}
.search-word-wrap {position: relative; padding:0 1rem;}
.search-word-wrap .tit-box {position: relative; padding-bottom: .5rem;}
.search-word-wrap .tit-box.user1 {border-bottom: 1px solid #13936f;}
.search-word-wrap .tit-box.user2 {border-bottom: 1px solid #20b2aa;}
.search-word-wrap .tit-box.user3 {border-bottom: 1px solid #246076;}
.search-word-wrap .tit-box.user4 {border-bottom: 1px solid #244276;}
.search-word-wrap .tit-box p {font-size: .875rem; color: #1c2016; font-weight: bold; text-align: left;}
.search-word-wrap .tit-box .btn-delete-txt {position: absolute; top:0; right:0; font-size: .875rem; color: #1c2016; font-weight: normal; cursor: pointer;}
.search-word-wrap .tit-box .btn-delete-txt img {width: 12px; margin-right: 6px; vertical-align: middle;}
.search-word-wrap .txt-box {position: relative; padding-top: .5rem;}
.search-word-wrap .txt-box li {position: relative;}
.search-word-wrap .txt-box span {position: relative; display: inline-block; width: 85%; font-size: .875rem; color: #1c2016; font-weight: normal; word-wrap: normal; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.search-word-wrap .txt-box .btn-delete-icon {position: absolute; top:3px; right: 0; width: 16px; height: 16px; line-height: 16px; text-align: center; cursor: pointer;}
.search-word-wrap .txt-box .btn-delete-icon img {width: 8px; vertical-align: middle;}
/* step box */
.step-box {position: relative; background-color: #fff; height: 64px; overflow: hidden;}
.step-box li {position: relative; float: left; width:25%;}
.step-box li.on {border-bottom: 2px solid #13936f;}
.step-box li a {position: relative; display: block; text-align: center; color: #bebebe; font-size: .875rem; font-weight: normal; padding:20px 0 21px; padding-left: 20px;}
.step-box li.on a {position: relative; color: #13936f; font-weight: bolder;}
.step-box li:nth-of-type(1) a:after {content: '1'; position: absolute; top:50%; margin-top:-10px; left:12px; width: 20px; height: 20px; text-align: center; color: #bebebe; font-size: .75rem; border-radius: 100%; background-color: #fff; box-shadow: 0 3px 6px 0 rgba(19, 147, 111, 0.12);}
.step-box li:nth-of-type(2) a:after {content: '2'; position: absolute; top:50%; margin-top:-10px; left:12px; width: 20px; height: 20px; text-align: center; color: #bebebe; font-size: .75rem; border-radius: 100%; background-color: #fff; box-shadow: 0 3px 6px 0 rgba(19, 147, 111, 0.12);}
.step-box li:nth-of-type(3) a:after {content: '3'; position: absolute; top:50%; margin-top:-10px; left:12px; width: 20px; height: 20px; text-align: center; color: #bebebe; font-size: .75rem; border-radius: 100%; background-color: #fff; box-shadow: 0 3px 6px 0 rgba(19, 147, 111, 0.12);}
.step-box li:nth-of-type(4) a:after {content: '4'; position: absolute; top:50%; margin-top:-10px; left:12px; width: 20px; height: 20px; text-align: center; color: #bebebe; font-size: .75rem; border-radius: 100%; background-color: #fff; box-shadow: 0 3px 6px 0 rgba(19, 147, 111, 0.12);}
.step-box li.on a:after {color:#fff; background-color: #13936f;}
.step-box li.on.success a:after {content: ''; color:#fff; background: #13936f url(../images/icon-check-white.png) no-repeat center center; background-size: 10px auto;}
.step-message {position: relative; margin-top: .5rem; background-color: #fff; padding: 1rem; height: 94px; display: flex; justify-content: center; align-items: center;}
.step-message p {position: relative; font-size: 1.75rem; color:#1c2016; line-height: 1.5; font-weight: normal; text-align: center;}
.step-message p em {color:#13936f; font-weight: bold;}
.step-conbox {position: relative; margin-top: .5rem; background-color: #fff; padding: 1rem; min-height: 62vh;}
.step-conbox .car-num-box {position: relative; padding: 1rem; padding-bottom: 0;}
.step-conbox .car-num-box li {position: relative; margin-top: 1rem;}
.step-conbox .car-num-box li:first-child {margin-top: 0;}
.step-conbox .car-num-box li .btn-step1 {position: relative; background-color: #f4f4f4; color:#1c2016; font-size: 1.125rem; font-weight: bold; width: 100%; height: 44px; border-radius: .25rem; text-align: center;}
.step-conbox .car-num-box li.on .btn-step1 {background-color: #13936f; color:#fff;}
.step-conbox .btn-wrap {padding: 0 1rem;}
.input-box.step-box {position: relative; padding: 0 1rem; margin-top: 1rem;}
.input-box.step-box input {position: relative; width: 100%; height: 44px; border-radius: .25rem; border: 1px solid #13936f; padding: 1rem;}
.bill.user1 {background-color: #13936f;}
.bill.user2 {background-color: #20b2aa;}
.bill.user3 {background-color: #246076;}
.bill.user4 {background-color: #244276;}
.bill-header {position: relative; background-color: #1c2016; padding: 1rem;}
.bill-header .tit {position: relative; color:#fff; font-size: 1.25rem; font-weight: bold; text-align: center;}
.bill-header .code-num {position: relative; color:#fff; font-size: .875rem; font-weight: bold; text-align: center; padding-top: .5rem; margin-top: .5rem;}
.bill-header .code-num:after {content: ''; position: absolute; top:0; left:50%; margin-left: -20px; width: 40px; height: 2px; background-color: rgba(255,255,255,0.2);}
.bill-subheader {position: relative; background-color: #f5f5f5; padding: 1rem;}
.bill-subheader ul li .t1 {position: relative; display: inline-block; width: 32%; font-size: .875rem; color: #1c2016; font-weight: normal; text-align: left;} 
.bill-subheader ul li .t2 {position: relative; display: inline-block; width: 65%; font-size: .875rem; color: #1c2016; font-weight: normal; text-align: right;}
.bill-con {position: relative; padding: 2rem 1rem; background-color: #fff;}
.bill-con .item {position: relative; margin-top:.5rem;}
.bill-con .item:first-child {margin-top: 0;}
.bill-con .tit {position: relative; font-size: .75rem; color:#1c202a; margin-bottom: .5rem;}
.bill-con ul {position: relative; padding: 0 1rem;}
.bill-con ul li {position: relative; overflow: hidden;}
.bill-con ul li .t1 {position: relative; display: inline-block; width: 32%; font-size: .75rem; color:#7e818b; font-weight: normal; text-align: left;}
.bill-con ul li .t2 {position: relative; display: inline-block; width: 65%; font-size: .75rem; color:#7e818b; font-weight: normal; text-align: right;}
.barcode-box {background-color: #fff; position: relative; text-align: center; padding: 0 1rem;}
.bill-footer {position: relative; background-color: #fff; overflow: hidden; padding: 1rem;}
.bill-footer .btn-download {width: 16.7%; height: 52px; float: left; text-align: center;}
.bill-footer .btn-download img {width: 20px;}
.bill-footer .btn-ok {width: 78.5%; height: 52px; float: right;} 
.bill-footer.three {position: relative; overflow: hidden; text-align: center;}
.bill-footer.three .btn {display: inline-block; width: 94px; height: 44px; margin-left: .5rem;}
.bill-footer.three .btn:first-child {margin-left: 0;}
.bill-footer.two {position: relative; overflow: hidden;}
.bill-footer.two button:nth-of-type(1) {float:left; width:94px; height: 44px;}
.bill-footer.two button:nth-of-type(2) {float:right; width:94px; height: 44px;}
.bill-footer.full {position: relative; overflow: hidden;}
.bill-footer.full button {width:100%;}
.input-modify {float:right; width: 50%;}
.deny-info {background-color: #F5F5F5; margin-top: 2rem; border-radius: .25rem;}
.deny-info.user2.ok {border:1px solid #20b2aa;}
.deny-info.user3.ok {border:1px solid #246076;}
.deny-info.user4.ok {border:1px solid #244276;}
.deny-info .tit {font-size: .75rem;  color: #1c202a; font-weight: bolder; text-align: center; padding-top:1rem;}
.deny-info .txt {position: relative; font-size: .75rem; color: #696969; font-weight: bold; text-align: center; padding: 1rem;}
.deny-info .txt:after {content: ''; position: absolute; top:.25rem; left:50%; margin-left:-16px; width:32px; height:1px; background-color: #20b2aa;}
.user4 .deny-info .txt:after {content: ''; position: absolute; top:.25rem; left:50%; margin-left:-16px; width:32px; height:1px; background-color: #244276;}
.deny-info .input-box {padding: 1rem; position: relative; margin-bottom: 0;}
.deny-info input {height: 48px; border-radius: .25rem;}
.deny-info input.user2 {border:1px solid #20b2aa; width:100%;}
.deny-info input.user3 {border:1px solid #246076; width:100%;}
.deny-info input.user4 {border:1px solid #244276; width:100%;}
/* popup */
.popup-wrap {display:none; position: fixed; top:0; left:0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6);}
.popup-box {position: absolute; top:50%; transform: translateY(-50%); left:6%; width: 88%; background-color: #fff; border-radius: .5rem;}
.popup-box2 {position: absolute; top:50%; transform: translateY(-50%); left:35%; width: 28%; background-color: #fff; border-radius: .5rem;}
.popup-box3 {position: absolute; top:50%; transform: translateY(-50%); left:0%; width: 100%; background-color: #fff; border-radius: .5rem;}
.popup-header {position: relative; padding: 1rem; border-bottom: 1px solid #f5f5f5;}
.popup-header p {position: relative; font-size: .875rem; color: #1c2016;}
.btn-popup-close {position: absolute; top: .5rem; right: .5rem; width: 32px; height: 32px; text-align: center; line-height: 32px;}
.btn-popup-close img {width: 12px;}
/* popup ajax 성공시 style 추가 */
.btn-ajaxSucces-close {position: absolute; top: .5rem; right: .5rem; width: 32px; height: 32px; text-align: center; line-height: 32px;}
.btn-ajaxSucces-close img {width: 12px;}
.popup-contents {position: relative; padding: 1rem;}
.popup-contents p {color: #1c2016; font-size: 16px;}
.popup-footer {position: relative; padding: 1rem; overflow: hidden;}
.popup-footer .btn {float: left; width: 47%; height: 40px; margin:0 1.5%;}
/* mylist */
.mylist-tab-menu {position: relative; background-color: #fff;}
.mylist-tab-menu ul {position: relative; overflow: hidden;}
.mylist-tab-menu ul li {position: relative; float: left;}
.mylist-tab-menu ul li a {position: relative; display: block; text-align: center; padding:1rem 0; font-size: 1rem; color: #8d8f8a;}
.user1 .mylist-tab-menu ul li {width: 50%;}
.user1 .mylist-tab-menu ul li.on a {color: #13936f; font-weight: bold; border-bottom: 2px solid #13936f;}
.user2 .mylist-tab-menu ul li {width: 50%;}
.user2 .mylist-tab-menu ul li.on a {color: #20b2aa; font-weight: bold; border-bottom: 2px solid #20b2aa;}
.user3 .mylist-tab-menu ul li {width: 33.3333%;}
.user3 .mylist-tab-menu ul li.on a {color: #246076; font-weight: bold; border-bottom: 2px solid #246076;}
.user4 .mylist-tab-menu ul li {width: 33.3333%;}
.user4 .mylist-tab-menu ul li.on a {color: #244276; font-weight: bold; border-bottom: 2px solid #244276;}
.mylist-search-box {position: relative; background-color: #fff; padding: 1rem; overflow: hidden;}
.mylist-search-box .btn-calendar {position: relative;  width: 44px; height: 44px; border-radius: .25rem; line-height: 42px; float: left; text-align: center;}
.mylist-search-box .btn-calendar img {width: 22px; vertical-align: middle;}
.user1 .mylist-search-box .btn-calendar {position: relative; background-color: #13936f;}
.user2 .mylist-search-box .btn-calendar {position: relative; background-color: #20b2aa;}
.user3 .mylist-search-box .btn-calendar {position: relative; background-color: #246076;}
.user4 .mylist-search-box .btn-calendar {position: relative; background-color: #244276;}
.mylist-search-box .input-box.search {position: relative; float: right; width: 83%; height: auto; padding: 0;}
.mylist-search-box .input-box.search .btn-search {right: 0;}
.mylist-wrap {position: relative; margin-top: .5rem; display: none;}
.mylist-wrap#box1 {display: block;}
.mylist-wrap>ul>li {position: relative; background-color: #fff; border-bottom: 1px solid #ebebeb;}
.mylist-wrap>ul>li>a {position: relative; display: block; padding: 1rem;}
.mylist-wrap .top-box {position: relative; border-bottom: 1px solid #f4f4f4; padding-bottom: .5rem;}
.mylist-wrap .top-box .tit {width:60%; position: relative; display: block; font-size: 1.375rem; color: #202224; font-weight: bold; padding-right: 4rem;}
.mylist-wrap .top-box .txt {position: absolute; top:0; right:0; width:40%; color:#696969; font-siz:.875rem; text-align: right;}
.user1 .mylist-wrap>ul>li>a:after {content:''; position: absolute; top:1rem; left:0; width:8px; height:32px; background-color: #13936f;}
.user2 .mylist-wrap>ul>li>a:after {content:''; position: absolute; top:1rem; left:0; width:8px; height:32px; background-color: #20b2aa;} 
.user3 .mylist-wrap>ul>li>a:after {content:''; position: absolute; top:1rem; left:0; width:8px; height:32px; background-color: #246076;} 
.user4 .mylist-wrap>ul>li>a:after {content:''; position: absolute; top:1rem; left:0; width:8px; height:32px; background-color: #244276;} 
.mylist-wrap .top-box .btn-heart {position: absolute; top: 0; right: 0; width: 32px; height: 32px; text-align: center;}
.mylist-wrap .top-box .btn-heart img {width: 20px;}
.mylist-wrap .top-box .row {position: relative; overflow: hidden; margin-top: .5rem;}
.mylist-wrap .top-box .row .left {float: left; width: 50%; position: relative; color: #696969; font-size: 16px; font-weight: bold; text-align: left;} 
.mylist-wrap .top-box .row .right {float: right; width: 50%; position: relative; color: #696969; font-size: 16px; font-weight: bold; text-align: right;} 
.mylist-wrap .top-box .row .left.from img{width: 10px; margin-right: 4px;}
.mylist-wrap .top-box .row .right.to img {width: 10px; margin-right: 4px;}
.mylist-wrap .top-box .row .right.to.user1 {color: #13936f;}
.mylist-wrap .top-box .row .right.to.user2 {color: #20b2aa;}
.mylist-wrap .top-box .row .right.to.user3 {color: #246076;}
.mylist-wrap .top-box .row .right.to.user4 {color: #244276;}
.mylist-wrap .top-box .row .right.to.error {color: #931439;}
.mylist-wrap .bottom-box {position: relative; padding-top: .5rem;}
.mylist-wrap .bottom-box ul>li {position: relative; overflow: hidden; margin-top: .25rem;}
.mylist-wrap .bottom-box ul>li:first-child {margin-top: 0;}
.mylist-wrap .bottom-box ul>li .left-tt {position: relative; float: left; width: 50%; color: #696969; font-size: .75rem; text-align: left;}
.mylist-wrap .bottom-box ul>li .right-tt {position: relative; float: left; width: 50%; color: #696969; font-size: .75rem; text-align: right;}
/* condition box */
.condition-box {position: relative; padding: 1rem;}
.condition-box .term-box {position: relative; overflow: hidden; padding: .25rem 0; margin-left: -1rem;}
.condition-box .term-box>li {position: relative; float: left; width: 25%; padding-left:1rem;}
.condition-box .term-box>li>a { position:relative; display: block; border:1px solid #696969; font-size: .75rem; color: #696969; font-weight: normal; text-align: center; padding:.5rem 0; border-radius: .25rem;}
.condition-box .sort-box {position: relative; padding: .5rem 0; overflow: hidden; margin-left: -1rem;}
.condition-box .sort-box>li {position: relative; float: left; width: 50%; padding-left: 1rem;}
.condition-box .sort-box>li>a {position:relative; display: block; border:1px solid #696969; font-size: .75rem; color: #696969; font-weight: normal; text-align: center; padding:.5rem 0; border-radius: .25rem;}
.condition-box .input-box.search {position: relative; padding: 0; margin:.25rem 0;}
.condition-box .input-box.search input {border:1px solid #696969;}
.condition-box .input-box.search .btn-search {right: 0;}
.condition-box .input-box.search .btn-search img {width:18px;}
.btn-condition-search {position: relative; width: 100%; background-color: #696969; color: #fff; height: 48px; font-size: 1.25rem; border-radius: .25rem;}
.btn-condition-left {position: relative; float: left; margin-left: 10px; margin-right:2px; margin-top:2px; margin-bottom:10px; text-align: center; display: block; width: 49%; background-color: #696969; color: #fff; height: 48px; font-size: 1.25rem; border-radius: .25rem;}
.btn-condition-right {position: relative; float: left; margin-left: 10px; text-align: center; display: block; width: 49%; background-color: #696969; color: #fff; height: 48px; font-size: 1.25rem; border-radius: .25rem;}
.datepiker-box {position: relative;}
.datepiker-box label {position: relative; float: left; width:49%;}
.datepiker-box .center {float: left; width: 2%; line-height: 44px;}
.datepiker-box input {width:100%; height: 40px; border:none; border-bottom: 1px solid #333; padding: 1rem 1rem 0.5rem;}
.datepiker-box .icon {position: absolute; bottom:.125rem; right:.5rem; width:16px;}
.ui-datepicker {border:1px solid #ebebeb; width:45%; background:#fff; box-shadow: 0 0 20px rgba(0,0,0,0.1);}
.ui-datepicker-header {position: relative; background-color: #696969; padding: .5rem;}
.ui-datepicker-prev {position: absolute; top:.5rem; left:0; color:#fff; background:url(../images/btn-back.png) no-repeat center center; background-size: 8px;}
.ui-datepicker-prev span {opacity: 0;}
.ui-datepicker-next {position: absolute; top:.5rem; right:0; color:#fff; background:url(../images/btn-back.png) no-repeat center center; background-size: 8px; transform: rotate(-180deg);}
.ui-datepicker-next span {opacity: 0;}
.ui-datepicker-title {color: #fff; font-size: 1rem; text-align:center; font-weight: boler;}
.ui-datepicker-calendar {width:100%; padding:.5rem;}
.ui-datepicker-calendar th {font-size:.75rem; color: #3c3c3c; padding:.25rem 0; text-align: center;}
.ui-datepicker-calendar td {font-size:.75rem; color: #696969; padding:.25rem 0; text-align: center;}
/* map */
.map-box {position: relative;}
.map-box iframe {width:100%; height:80vh; }
.map-info {position: fixed; bottom:64px; left:0; width:100%; background-color: #13936f; padding:1rem;}
.map-info .t1 {color:#fff; font-size:1.25rem; font-weight: bold; margin-bottom:.5rem;}
.map-info .t2 {color:#fff; font-size:.75rem;}
/* floating btn */
.btn-floating {position: fixed; bottom: 80px; left:0; width: 100%; height: 64px; padding:0 2rem;}
.btn-floating a {position: relative; display: block; width: 100%; height: 100%; border-radius: 40px; line-height: 64px; text-align: center; color: #fff; font-size: 1.25rem; font-weight: bold;}
.btn-floating a img {width: 20px; margin-left: .5rem;}
.btn-floating .bg-darkblue {box-shadow: 0 3px 6px 0 rgba(47, 79, 79, 0.3); background-color: #244276;}
.btn-floating .bg-blue {box-shadow: 0 3px 6px 0 rgba(47, 79, 79, 0.3);background-color: #246076;}
.btn-floating .bg-pink {box-shadow: 0 3px 6px 0 rgba(47, 79, 79, 0.3);background-color: #e6b2b2;}
/* .btn-floating .add {position: relative; display: block; width: 10%; height: 100%; border-radius: 40px; line-height: 64px; text-align: center; color: #fff; font-size: 1.25rem; font-weight: bold; margin-bottom: 5px; margin-left: 90%;} */
.btn-floating .add {position: relative; display: block; width: 60px; height: 60px; border-radius: 40px; line-height: 64px; text-align: center; color: #fff; font-size: 1.25rem; font-weight: bold; margin-bottom: 5px; margin-left: 80%;}
.btn-floating .add img {width: 30px; margin-top: 25%; margin-bottom: 25%; margin-left: 25%; margin-right: 25%;}

.container-text {color: rgb(0, 0, 0); font-size: 1.15rem; line-height: 56px;}